<div class="form-wrapper">
  <%= simple_form_for @asset, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :name, "Model Name"  %>
    </div>
    <div class="form-group text-center">
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :uploaded_file, "File" %>
    </div>
    <div class="form-group text-center">
      <%= f.file_field :uploaded_file %>
    </div>

    <div class="form-group">
      <%= f.label :image_target, "Image Target" %>
    </div>
    <div class="form-group text-center">
      <%= f.file_field :image_target %>
    </div>

    <div class="form-group">
      <%= f.label :model_image, "Model Image" %>
    </div>
    <div class="form-group text-center">
      <%= f.file_field :model_image %>
    </div>

    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  <% end %>
</div>
