<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <h3><%= @asset.uploaded_file_file_name %></h3>
  </br>
  <p><strong>ID:</strong><%= @asset.id %> | <strong>Filename: </strong><%= @asset.uploaded_file_file_name %></p><p><strong> File type: </strong><%= @asset.uploaded_file_content_type %> | <strong>Uploaded: </strong><%= @asset.created_at %></p>
  <%= link_to 'Download', @asset.uploaded_file.url %> |
  <%= link_to 'Delete', @asset, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', assets_path %>
</div>
